*{
    margin: 0;
    padding: 0;
}
:root{
    --primaryColor:#000;
    font-size: 16px;
    --footerColor: #c0c0c0;
    /* --footerFontColor: #fff; */
    --primaryFontfamily:'Roboto Condensed', sans-serif;
}
body{
    font-family: var(--primaryFontfamily);
}
h1{
    font-size: 2rem;
}

h2{
    font-size: 3rem;
}
h3{
    font-size: 1rem;
}
h4{
    font-size: 2.3em;
}
h5{
    font-size: 1em;
}
h6{
    font-size: 1em;
}
p{
    font-size: 1rem;
    color: var(--primaryColor);
}
a {
    text-decoration: none;
    color: var(--primaryColor);
}
header{
    display: grid;
    grid-template-columns: 100px auto 0 100px;
}
h1{
    text-align: center;
}
.header__nav ul {
    display: none;
}
.socialMediaLinks{
    display: flex;
    align-items:center;
    justify-content: flex-end;
}
.hero--Image {
    overflow: hidden;
}
main{
    padding: .5em;
}
main + section:first-child{
    margin-top: .3em;
}
.projectGallary{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.projectGallary > div{
    margin-top: 2em;
}
main > section{
    background-color: #eee;
}
main > section:first-child{
    text-align: center;
}
.skills{

    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: .5em;
}

footer{
    color: var(--footerFontColor);
    padding: .7em;
    background-color: var(--footerColor);
}
.footer__container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footer__Nav ul {
    display:flex;
    flex-direction: row;
    justify-content: center;
    list-style: none;
}
.footer__Nav ul li {
   padding: .3em;

}
.footer__Nav ul li a {
    text-decoration: none;
   color:var(--primaryColor);
   font-size: .8rem;
   font-weight: bold;
}
footer p{
   padding: .3em;
    text-align: center;
    font-weight: bold;
}

@media screen and ((min-width:768px)){
    h1{
        font-size: 3rem;
    }
    header{
        grid-template-columns: 130px auto 0 140px;
    }
    #hamburger-menu {
        display: none;
    }
    .header__nav ul {
        display:flex;
        justify-content: center;
        list-style: none;
    }
    .header__nav ul li {
       padding: 1em;
    }
    .header__nav ul li a {
        text-decoration: none;
       color:var(--primaryColor);
       font-size: 1.5rem;
       font-weight: 600;
    }
    .socialMediaLinks{
        justify-content: flex-start;
    }
    .socialMediaLinks a img{ 
        width: 43px;
        height: 43px;
        
    }
    .projectGallary{
        display: grid;
        grid-template-columns: auto auto;
        justify-content: center;
        gap: 50px;
    }

    .footer__Nav ul li {
       padding: 1em;
    }
    .footer__Nav ul li a {
       font-size: 1.2rem;
       font-weight: 800;
    }
    
}

@media screen and ((min-width:992px)){
    h1{
        font-size: 3rem;
    }
    header{
        grid-template-columns: 130px auto 0 140px;
    }
    #hamburger-menu {
        display: none;
    }
    .header__nav ul {
        display:flex;
        justify-content: center;
        list-style: none;
    }
    .header__nav ul li {
       padding: 1em;
    }
    .header__nav ul li a {
        text-decoration: none;
       color:var(--primaryColor);
       font-size: 1.5rem;
       font-weight: 600;
    }
    .socialMediaLinks{
        justify-content: flex-start;
    }
    .socialMediaLinks a img{ 
        width: 40px;
        height: 40px;
        
    }
    .projectGallary{
        flex-direction: row;
        justify-content: center;
        gap: 2px;
    }

    .footer__Nav ul li {
       padding: 1em;
    }
    .footer__Nav ul li a {
       font-size: 1.5rem;
       font-weight: 800;
    }
    
}

@media screen and ((min-width:1200px) ){
    h1{
        font-size: 3rem;
    }
    header{
        grid-template-columns: 130px auto 0 140px;
    }
    #hamburger-menu {
        display: none;
    }
    .header__nav ul {
        display:flex;
        justify-content: center;
        list-style: none;
    }
    .header__nav ul li {
       padding: 1em;
    }
    .header__nav ul li a {
        text-decoration: none;
       color:var(--primaryColor);
       font-size: 1.5rem;
       font-weight: 600;
    }
    .socialMediaLinks{
        justify-content: flex-start;
    }
    .socialMediaLinks a img{ 
        width: 40px;
        height: 40px;
        
    }
    .projectGallary{
        flex-direction: row;
        justify-content: center;
        gap: 50px;
    }

    .footer__Nav ul li {
       padding: 1em;
    }
    .footer__Nav ul li a {
       font-size: 1.5rem;
       font-weight: 800;
    }
    
}

@media screen and (min-width:1400px){
    h1{
        font-size: 3rem;
    }
    header{
        grid-template-columns: 130px auto 0 140px;
    }
    #hamburger-menu {
        display: none;
    }
    .header__nav ul {
        display:flex;
        justify-content: center;
        list-style: none;
    }
    .header__nav ul li {
       padding: 1em;
    }
    .header__nav ul li a {
        text-decoration: none;
       color:var(--primaryColor);
       font-size: 1.5rem;
       font-weight: 600;
    }
    .socialMediaLinks{
        justify-content: flex-start;
    }
    .socialMediaLinks a img{ 
        width: 40px;
        height: 40px;
        
    }
    main {
        width: 1500px;
        margin: auto;
    }
    .projectGallary{
        flex-direction: row;
        justify-content: center;
        gap: 50px;
    }

    .footer__Nav ul li {
       padding: 1em;
    }
    .footer__Nav ul li a {
       font-size: 1.5rem;
       font-weight: 800;
    }
    
}
